<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

  <header>
    <h2>Desafio<b class="logoDetail">FULL</b></h2>
  </header>
  <main>
       
    <app-home></app-home>
  </main>
  
  <!-- <footer>
    <p>Copyright Jeverson Abreu ©</p>
    <div class="footer-logo">
      <span>Desafio<b class="logoDetail">FULL</b></span>
    </div>
  </footer> -->
</body>

</html>